<p><br />Hey {{first_name}}!</p>
<p>Just jumping in here quickly in regards to the delivery and collection schedule for your upcoming event.</p>
<p>We currently have you down for the following;<br /><span style="font-weight: bold;">Delivery: </span>{{delivery_date}} between {{delivery_start_time}} &amp; {{delivery_end_time}}<br /><span style="font-weight: bold;">Collection: </span>{{collection_date}} between {{collection_start_time}} <span style="color: #222222;">&amp; {{collection_end_time}}</span></p>
<p><span style="font-weight: bold;">Address:</span> {{job_address}}</p>
<p>Items will need to be clear of debris and ready for collection during this window.&nbsp;</p>
<p><span style="font-weight: bold;">Please double-check the picking list attached. If you see any mistakes, please let us know! We would hate to deliver you the wrong quantities</span></p>
<p>If you have any questions please don't hesitate to fire them through and contact us on 021856500</p>
<p>Cheers,</p>
<p><span style="color: #222222; font-weight: bold;">Jared Watt</span><span style="color: #222222;"> | </span><span style="color: #222222; font-style: italic;">Owner/Stylist<br /></span>jared@twofoxes.co.nz<span style="color: #222222;">&nbsp;&nbsp;&nbsp;</span></p>
<p><span style="color: #222222; font-weight: bold;">Two Foxes Styling<br /></span><span style="color: #222222;">Tel. 021856500<br /></span><span style="color: #222222;">44b Henderson Valley Road, Henderson, 0610</span><br /><a href="http://www.twofoxes.co.nz/" target="_blank" rel="noopener"><span style="font-style: italic;">www.twofoxes.co.nz</span></a></p>